*{
  margin: 0;
}

section{
  text-align: center;
}

article {
  display: flex;
  justify-content: center;

}

figcaption {
  padding:5px;
  background-color: gray;
  color: white;
  text-align: center;
}

img{
  display: block;
  min-width: 640px;
  max-height: 390px;
}

button{
  border:none;
  font-size: 50px;
  background-color: #6495ed;
  color: white;
}

button:hover{
  background-color: #517ac7;
}
h1{
  margin: 20px;
}

body{
  background-image: url('/public/img/concrete_seamless.png');
}

.test{
  background-color: red;
}